body {
    text-align: center;
    background: url(background2.png);
    background-size: cover;
    
  }
  h1{
    font-weight: 700;
    font-size: 40px;
  }
  .choice-button {
    height: 150px;
    width: 150px;
    border: none;
    margin: 10px;
    background:  rgb(18, 182, 111);
    border-radius: 50px;
    cursor: pointer;
  }
  h3{
    font-size: 25px;
  }
#reset-btn{
    font-size: 30px;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 5px;
  }
  .choice-image {
    height: 140px;
  }